{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentora</title>
    <link rel="stylesheet" href="{% static 'faqCss.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
    
</head>
<body>
  <div class="header">
    <!-- header -->
    <h1 class="header-title" >FAQ</h1>
    <p class="header-desc">frequently Asked Questions</p>
    
    <!-- search -->
    <div class="search">
      <input type="text" placeholder="Search...">
      <button>Search</button>
    </div>
  </div>  

  <!--Faq Accordion-->
  <div class="faq">
    <div class="faq-name">
      <h1 class="faq-header">Have <br> questions ?</h1>
      <img class="faq-img" src="{% static 'question.jpg' %}">
    </div>
    <div class="faq-box">
      <div class="faq-wrapper">
        <input type="checkbox" class="faq-trigger" id="faq-trigger-1">
        <label for="faq-trigger-1" class="faq-title">How it works?</label>
        <div class="faq-detail">
          <p>
            Our AI chatbot for mental health works through a combination of natural language processing and machine learning. 
          </p>
        </div>
      </div>
      <div class="faq-wrapper">
        <input type="checkbox" class="faq-trigger" id="faq-trigger-2">
        <label for="faq-trigger-2" class="faq-title">What languages does the chatbot support?</label>
        <div class="faq-detail">
          <p>
            for the moment our chatbot only supports English, we are planning to add more in the future updates
          </p>
        </div>
      </div>
      <div class="faq-wrapper">
        <input type="checkbox" class="faq-trigger" id="faq-trigger-3">
        <label for="faq-trigger-3" class="faq-title">Is the chatbot intended for diagnosis or treatment?</label>
        <div class="faq-detail">
          <p>
            It is important to remember that this is not a replacement for a human therapist. The chatbot is a tool to provide support, not a medical device.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>